<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html' %}
  <body>
    <div class="container">
      <div class="topbar">
        <div class="title-container">
          <div class="title">
            DriveAlive
          </div>
        </div>
        <div class="links-container">
          <div class="link-container">
            <a href="/">
              <div id="link1" class="link">
                Predict
              </div>
            </a>
          </div>
          <div class="link-container">
            <a href="/methodology">
              <div id="link2" class="link">
                Methodology
              </div>
            </a>
          </div>
          <div class="link-container">
            <a href="/about">
                <div id="link3" class="link" style="color: black; background: white">
                    About
                </div>
            </a>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-result-wrapper">
          <div class="result-title"><b>03</b> <span style="padding-left: 2%">About</span></div>
          <div class="results-page">
            <div class="result-text">
              <div class="m-text" style="overflow-y:hidden">
                
              Drowsy driving ranks among the top causes of traffic accidents, significantly affecting road safety. Providing early warnings to sleepy drivers could prevent numerous accidents on the roads. That's why a team of students at Brown University decided to come together and utilize their knowledge of neural networks to combat the problem. Healey, Dave, Ivery, and Hadley, otherwise known as H-Money, Waldo, Delivery, and Hazzle Dazzle, are here to clear the streets of drowsiness.
              </div>

            </div>
            <div class="result-video" style="align-items: flex-start">
              <img src="../static/images/brown2.png" class="result-img" alt="brown university" draggable="false">
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="{{url_for('static', filename='index.js')}}">
  </script>
  </body>
</html>