<!DOCTYPE html>
<html lang="en">
  {% include 'partials/head.html' %}
  <body>
    <div class="container">
      <div class="topbar">
        <div class="title-container">
          <div class="title">
            DriveAlive
          </div>
        </div>
        <div class="links-container">
          <div class="link-container">
            <a href="/" style="color: black; background: white">
              <div id="link1" class="link">
                Predict
              </div>
            </a>
          </div>
          <div class="link-container">
            <a href="/methodology" style="text-decoration: none">
              <div id="link2" class="link">
                Methodology
              </div>
            </a>
          </div>
          <div class="link-container">
            <div id="link3" class="link">
              About
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        {% if file_path %}
      
        <div class="content-result-wrapper">

      <div class="result-title"><b>01</b> <span style="padding-left: 2%">Predict</span></div>
      <div class="results-page">
        <div class="result-text">
          {% if result %}
            <div class="result-number">{{ result }}</div>
            <div class="result-message">Is your likelihood of drowsiness.</div>
            <div class="result-upload-container">
              {% include 'partials/upload.html' %}
            </div>
          {% endif %}
          </div>
        <div class="result-video">
          <video class="result-img" controls>
            <source src="{{ url_for('static', filename=file_path) }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>


    {% else %}
      {% if file_path == "" %}
        <p>Invalid upload. Your upload must be of .mp4 format.</p>
        {% include 'partials/upload.html' %}
      {% else %}
      <div class="content-splash-wrapper">
        <div class="content-center">
          <div class="banner">
            <span class="bold">DriveAlive</span> can detect driver drowsiness.
          </div>
          <div class="controls">
            <div class="message">
              We're currently working on the live camera feed. Support coming soon.
            </div>
            <div class="buttons-container">
              <div class="button-disabled">Live Camera Feed 
                <svg style="padding-left: 3%" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_19_197)">
                <path d="M13.5 4.5L11.9138 6.08625L18.1912 12.375H4.5V14.625H18.1912L11.9138 20.9137L13.5 22.5L22.5 13.5L13.5 4.5Z" fill="white"/>
                </g>
                <defs>
                <clipPath id="clip0_19_197">
                <rect width="27" height="27" fill="white"/>
                </clipPath>
                </defs>
                </svg>
              </div>
              {% include 'partials/upload.html' %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    {% endif %}
      </div>
    </div>
  <script src="{{url_for('static', filename='index.js')}}">
  </script>
  </body>
</html>
