<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveAlive</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link rel="stylesheet" href="https://use.typekit.net/fpl5kxl.css">
    <!--
      Extrabold: font-weight 800
      Semibold: font-weight 600
      Regular: font-weight 400
      Light: font-weight 300
    -->
  </head>
  <body>
    <div class="container">
      <div class="topbar">
        <div class="title-container">
          <div class="title">
            DriveAlive
          </div>
        </div>
        <div class="links-container">
          <div class="link-container">
            <div id="link1" class="link">
              Predict
            </div>
          </div>
          <div class="link-container">
            <div id="link2" class="link">
              Methodology
            </div>
          </div>
          <div class="link-container">
            <div id="link3" class="link">
              About
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="content-center-wrapper">
          <div class="content-center">
            <div class="banner">
              <span class="bold">DriveAlive</span> can detect driver drowsiness.
            </div>
            <div class="controls">
              <div class="message">
                We're currently working on the live camera feed. Support coming soon.
              </div>
              <div class="buttons-container">
                <div class="button-disabled">Live Camera Feed</div>
                <div class="button-enabled">Upload a Video</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1>Upload File</h1>

    <form method='POST' enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{form.hidden_tag()}}
      {{form.file()}}
      {{form.submit()}}
    </form>
    {% if file_path %}
      <!--<img class="result-img" src="{{ url_for('static', filename=file_path) }}" alt="Uploaded Image">-->
      <video class="result-img" controls>
        <source src="{{ url_for('static', filename=file_path) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% else %}
      {% if file_path == "" %}
        <p>Invalid upload. Your upload must be of .mp4 format.</p>
      {% else %}
        <p>No video uploaded.</p>
      {% endif %}
    {% endif %}
    {% if result %}
    <h2>Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
    <p>
    <!--<button onclick="fetch_test()">Display results</button>-->
    <h2 id="to_change"></h2>
  </p>
  <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
