<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DriveAlive</title>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1>Upload File</h1>

    <form method='POST' enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{form.hidden_tag()}}
      {{form.file()}}
      {{form.submit()}}
    </form>
    {% if file_path %}
      <!--<img class="result-img" src="{{ url_for('static', filename=file_path) }}" alt="Uploaded Image">-->
      <video class="result-img" controls>
        <source src="{{ url_for('static', filename=file_path) }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {% else %}
        <p>No image uploaded.</p>
    {% endif %}
    {% if result %}
    <h2>Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
    <p>
    <!--<button onclick="fetch_test()">Display results</button>-->
    <h2 id="to_change"></h2>
  </p>
  </body>
</html>
