body {
    background: #040C12;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 10.20875vh;
    width: 81.481%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    height: 89.79124vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-center-wrapper {
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-center {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.banner {
    font-size: calc(3vh + 3vw);
    line-height: 10vh;
    width: 70%;
    height: 50%;
}

.controls {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    width: 42%;
    height: 45%;
    color: #C4C4C4;
    font-size: calc(1.02vh + 1.02vw);
    line-height: 4vh;
    padding-bottom: 3vh;
}

.buttons-container {
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-disabled {
    height: 80%;
    border: 1px solid white;
    background: transparent;
    font-size: calc(1.02vh + 1.02vw);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-enabled {
    color: black;
    height: 80%;
    background: #91DFDB;
    font-size: calc(1.02vh + 1.02vw);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #91DFDB;
}

.button-enabled-wrapper {
    color: black;
    height: 80%;
    background: #91DFDB;
    font-size: calc(1.02vh + 1.02vw);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #91DFDB;
}

.spacer {
    background: yellow;
    width: 30%;
}

.bold {
    font-weight: 600;
}

.title-container {
    width: 24.07407vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    width: 63.87087%;
}

/*input[type="file"] {
    color: black;
    height: 80%;
    background: #91DFDB;
    font-size: calc(1.02vh + 1.02vw);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #91DFDB;
} */

.links-container {
    width: 37.5661%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

.link-container {
    width: 33.33334%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8vw + 0.8vh);
    padding: 1.7vh 2vw 1.7vh 2vw;
    max-width: 90%;
    cursor: pointer;
}

.result-img {
    width:30vw;
}