body {
    background: #040C12;
    color: white;
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 10.20875vh;
    width: 81.481%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    flex-direction: row;
}

.content {
    height: 89.79124vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-splash-wrapper {
    width: 72%;
    height: 100%;
    display: flex;
    align-items: center;
}

.content-result-wrapper {
    height: 70%;
    width: 73%;
}

.content-center {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.banner {
    font-size: calc(3vh + 3vw);
    line-height: 10vh;
    width: 70%;
    height: 50%;
}

.controls {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.message {
    width: 42%;
    height: 45%;
    color: #C4C4C4;
    font-size: calc(1.02vh + 1.02vw);
    line-height: 4vh;
    padding-bottom: 3vh;
}

.buttons-container {
    height: 40%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-disabled {
    height: 80%;
    border: 1px solid white;
    background: transparent;
    font-size: calc(1.02vh + 1.02vw);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-enabled {
    color: black;
    height: 8vh; /*80%*/
    background: #91DFDB;
    font-size: calc(1.02vh + 1.02vw);
    width: 18.1vw; /*40%*/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #91DFDB;
}

.button-enabled-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.bold {
    font-weight: 600;
}

.title-container {
    width: 24.07407vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.title {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: calc(1.5vw + 1.5vh);
    width: 63.87087%;
}

.links-container {
    width: 37.5661%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}

.link-container {
    width: 33.33334%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(0.8vw + 0.8vh);
    padding: 1.7vh 2vw 1.7vh 2vw;
    max-width: 90%;
    cursor: pointer;
}

.results-page {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result-text {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-title {
    width: 73.5%;
    height: 10%;
    text-transform: uppercase;
    font-size: calc(1.02vh + 1.02vw);
}

.result-video {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-img {
    width:30vw;
    border-radius: 15px;
    max-height: 80vh;
}

.result-number {
    font-size: calc(9vh + 9vw);
    /*line-height: calc(5.5vh + 5.5vw); */
    width: calc(5.5vh + 5.5vw);
    height: calc(5.5vh + 5.5vw);
    border-radius: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    margin-bottom: 1vh;
}

.result-message {
    font-size: calc(1.02vh + 1.02vw);
    color: #c4c4c4;
    height: auto;
    padding: 2%;
    text-align: center;
}

.result-sub-message {
    font-size: calc(0.8vh + 0.8vw);
    color: #c4c4c4;
    text-align: center;
    height: 1vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 3%;
}

.result-upload-container {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 3%;
}

.m-text {
    font-size: calc(0.75vh + 0.75vw);
    width: 100%;
    height: 100%;
    overflow-y:scroll;
    line-height: calc(1.5vh + 1.5vw);
    padding: 5%;
    padding-right: 10%;
}

.m-header {
    margin-top: 10%;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 600;
    font-size: calc(0.7vh + 0.7vw);
    letter-spacing: 0.2vw;
}

.m-text::-webkit-scrollbar {
    width: 5px; 
}
.m-text::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

.m-text::-webkit-scrollbar-thumb {
    background: white;
}

.m-text::-webkit-scrollbar-thumb:hover {
    background: #91DFDB; 
    cursor: pointer;
}